node_modules/
dist/
dist-standalone/
*.local
.env
.env.local
.env.*.local
firebase/.firebaserc
firebase/*-debug.log
firebase/.cache/
firebase/emulator-data/
dist-emulator/
dist-emulator-finder/
firebase/.site-variables.txt
*.tsbuildinfo
